[submodule "sensors"]
	path = sensors
	url = git@github.com:sigurdsvela/it87-sensors.git
[submodule "keyboard"]
	path = keyboard
	url = git@github.com:sigurdsvela/ubuntulike-no-mac-keyboard-stetup.git
[submodule "apt-installer"]
	path = apt-installer
	url = git@github.com:sigurdsvela/apt-installer.git
